@import "./typography.css"; /* Typography styles */
@import "./theme.css"; /* variabili del tema */

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    @apply bg-secondary-light;
    @apply dark:bg-secondary-dark;
    color-scheme: light dark;
    transition: all 0.3s linear;
}

.sticker {
    filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white)
        drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white)
        drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
}
